{% extends "base.html" %}

{% block content %}
<h1>{{ quiz.title }}</h1>
<form method="POST">
    {% for question in questions %}
    <fieldset>
        <legend>{{ question.question }}</legend>
        {% for option in question.option.split(",") %}
        <label>
            <input type="radio" name="answers_{{ question.id }}" value="{{ option.strip() }}" required>
            {{ option.strip() }}
        </label><br>
        {% endfor %}
    </fieldset>
    {% endfor %}
    <button type="submit" class="btn btn-primary mt-3">Submit Quiz</button>
</form>
{% endblock %}
